body {
	background-color: #223;
}

.navbar-wrapper {
	margin-top: 20px;
}

.rounded {
	border-radius: 15px;
}

.jumbotron {
	border-radius: 25px;
}

.marge-simpson {

}

#pyramid {
	border-radius: 100%;
}
